<?xml version="1.0" ?>
<!-- Generated using onshape-to-robot -->
<!-- Onshape https://cad.onshape.com/documents/238e8faca9c7214bccace665/w/ac168b104948c1f839976186/e/2f2a8d3b7996e245e4f2fb79 -->
<robot name="oneleg">
  <!-- Link femur__limb_legnth_0_3_meter -->
  <link name="femur__limb_legnth_0_3_meter">
    <inertial>
      <origin xyz="0.212039 0.179547 -0.4088" rpy="0 0 0"/>
      <mass value="20.6028"/>
      <inertia ixx="5.99773" ixy="-0.0429494" ixz="0.377069" iyy="6.02908" iyz="0.742456" izz="0.354993"/>
    </inertial>
    <!-- Part femur__limb_legnth_0_4_meter -->
    <visual>
      <origin xyz="0.295515 0.273885 -1.14921" rpy="0.29544 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/femur__limb_legnth_0_4_meter.stl"/>
      </geometry>
      <material name="femur__limb_legnth_0_4_meter_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.295515 0.273885 -1.14921" rpy="0.29544 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/femur__limb_legnth_0_4_meter.stl"/>
      </geometry>
    </collision>
    <!-- Part femur__limb_legnth_0_3_meter -->
    <visual>
      <origin xyz="0.144765 0.153867 -0.173383" rpy="3.09712 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/femur__limb_legnth_0_3_meter.stl"/>
      </geometry>
      <material name="femur__limb_legnth_0_3_meter_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.144765 0.153867 -0.173383" rpy="3.09712 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/femur__limb_legnth_0_3_meter.stl"/>
      </geometry>
    </collision>
    <!-- Part toe__limb_legnth_0_4_meter -->
    <visual>
      <origin xyz="0.301464 0.275949 -1.16819" rpy="0.29544 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/toe__limb_legnth_0_4_meter.stl"/>
      </geometry>
      <material name="toe__limb_legnth_0_4_meter_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.301464 0.275949 -1.16819" rpy="0.29544 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/toe__limb_legnth_0_4_meter.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_model -->
    <visual>
      <origin xyz="0.12204 0.103826 -0.629949" rpy="1.44514 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
      <material name="motor_model_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.12204 0.103826 -0.629949" rpy="1.44514 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_r -->
    <visual>
      <origin xyz="0.0377543 0.212382 -0.560272" rpy="-1.27536 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
      <material name="moving_frame_r_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0377543 0.212382 -0.560272" rpy="-1.27536 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013 -->
    <visual>
      <origin xyz="0.121705 0.0978825 -0.6307" rpy="-1.69645 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.121705 0.0978825 -0.6307" rpy="-1.69645 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_l -->
    <visual>
      <origin xyz="0.0377431 0.212184 -0.560297" rpy="-1.27536 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
      <material name="moving_frame_l_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0377431 0.212184 -0.560297" rpy="-1.27536 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_holder -->
    <visual>
      <origin xyz="0.200899 0.19707 -0.540223" rpy="-1.52632 -0.125531 1.5145"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
      <material name="motor_holder_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.200899 0.19707 -0.540223" rpy="-1.52632 -0.125531 1.5145"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013_2 -->
    <visual>
      <origin xyz="0.135604 0.344532 -0.599525" rpy="-1.69645 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.135604 0.344532 -0.599525" rpy="-1.69645 -0.0441242 3.09087"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_model_2 -->
    <visual>
      <origin xyz="0.14294 0.0279366 -0.066409" rpy="1.42548 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
      <material name="motor_model_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.14294 0.0279366 -0.066409" rpy="1.42548 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_r_2 -->
    <visual>
      <origin xyz="0.0823125 0.131789 0.0299369" rpy="-1.61527 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
      <material name="moving_frame_r_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0823125 0.131789 0.0299369" rpy="-1.61527 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013_3 -->
    <visual>
      <origin xyz="0.142605 0.0219933 -0.0671603" rpy="-1.71611 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_3_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.142605 0.0219933 -0.0671603" rpy="-1.71611 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_l_2 -->
    <visual>
      <origin xyz="0.0823013 0.13159 0.0299119" rpy="-1.61527 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
      <material name="moving_frame_l_2_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.0823013 0.13159 0.0299119" rpy="-1.61527 0.125531 -1.62709"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_holder_2 -->
    <visual>
      <origin xyz="0.249444 0.125049 -0.0196125" rpy="-1.03982 -0.125531 1.5145"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
      <material name="motor_holder_2_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.249444 0.125049 -0.0196125" rpy="-1.03982 -0.125531 1.5145"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013_4 -->
    <visual>
      <origin xyz="0.156504 0.268643 -0.035985" rpy="-1.71611 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_4_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.156504 0.268643 -0.035985" rpy="-1.71611 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_model_3 -->
    <visual>
      <origin xyz="0.359695 0.105196 0.0870166" rpy="1.0437 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
      <material name="motor_model_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.359695 0.105196 0.0870166" rpy="1.0437 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/motor_model.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_r_3 -->
    <visual>
      <origin xyz="0.299311 0.023305 0.202736" rpy="-1.42548 0.526363 0.0170982"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
      <material name="moving_frame_r_3_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.299311 0.023305 0.202736" rpy="-1.42548 0.526363 0.0170982"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_r.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013_5 -->
    <visual>
      <origin xyz="0.364882 0.105284 0.0840022" rpy="-2.09789 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_5_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.364882 0.105284 0.0840022" rpy="-2.09789 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
    <!-- Part moving_frame_l_3 -->
    <visual>
      <origin xyz="0.299484 0.0233079 0.202636" rpy="-1.42548 0.526363 0.0170982"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
      <material name="moving_frame_l_3_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.299484 0.0233079 0.202636" rpy="-1.42548 0.526363 0.0170982"/>
      <geometry>
        <mesh filename="package://assets/moving_frame_l.stl"/>
      </geometry>
    </collision>
    <!-- Part motor_holder_3 -->
    <visual>
      <origin xyz="0.30737 0.169552 0.213841" rpy="-1.62884 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
      <material name="motor_holder_3_material">
        <color rgba="0.615686 0.811765 0.929412 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.30737 0.169552 0.213841" rpy="-1.62884 -0.526363 -3.12449"/>
      <geometry>
        <mesh filename="package://assets/motor_holder.stl"/>
      </geometry>
    </collision>
    <!-- Part bearing__configuration_b6013_6 -->
    <visual>
      <origin xyz="0.149618 0.101604 0.209098" rpy="-2.09789 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
      <material name="bearing__configuration_b6013_6_material">
        <color rgba="0.647059 0.647059 0.647059 1"/>
      </material>
    </visual>
    <collision>
      <origin xyz="0.149618 0.101604 0.209098" rpy="-2.09789 0.0501823 -1.58288"/>
      <geometry>
        <mesh filename="package://assets/bearing__configuration_b6013.stl"/>
      </geometry>
    </collision>
  </link>
</robot>
